body {
  background: rgb(255, 221, 0);
  background: radial-gradient(
    circle,
    rgba(255, 221, 0, 0.40948879551820727) 26%,
    rgba(255, 0, 0, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  padding: 20px;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
}
.confetti {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tenzies {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.records {
  display: flex;
  width: 50%;
}
/* .instructions {
} */
.winner {
  margin-top: 1rem;
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
  background: -webkit-linear-gradient(#ffdd00, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
}
.record {
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  background: -webkit-linear-gradient(#ffdd00, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
}
main {
  width: 600px;
  height: 550px;
  padding: 2rem;
  margin-inline: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 1);
}

h1 {
  font-size: 3.3rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
  background: -webkit-linear-gradient(#ffdd00, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  width: 90%;
}
.link {
  background: -webkit-linear-gradient(#ffdd00, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
  position: relative;
  text-decoration: none;
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: rgb(255, 221, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 221, 0, 1) 26%,
    rgba(255, 0, 0, 1) 100%
  );
  bottom: -0.3rem;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.15s ease-in-out;
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.die-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.die-face {
  grid-row: span 1;
  height: 45px;
  width: 45px;
  border-radius: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
  transition: 0.1s all ease;
  background: url("./assets/dice-4.png") 0 0 / cover no-repeat;
}
.die-face:hover {
  transform: scale(1.2);
}

.die-num {
  font-size: 2em;
  font-weight: lighter;
}

.roll-dice {
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 6px;
  background: rgb(255, 221, 0);
  background: linear-gradient(
    41deg,
    rgba(255, 221, 0, 1) 26%,
    rgba(255, 0, 0, 1) 100%
  );
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
}

.roll-dice:active {
  transform: scale(0.95);
}

.roll-dice:focus {
  outline: none;
}
